{
    "xyz": {
        "name": "mariukas",
        "types": {
            "events": {
                "temperature": { "read": true, "write": true },
                "humidity": { "read": true }
            },
            "streams": {  
                "video_feed": {"read": true, "write": true}
            }
        }
    }
}